{% extends "ecommerce/base.html" %}
{% load static %}
        {% block title %}
            product details
        {% endblock title %}
    {% block body %}
        <!-- BEGIN #product -->
        <div id="product" class="section-container p-t-20">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN breadcrumb -->
                <ul class="breadcrumb m-b-10 f-s-12">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Mobile Phone</a></li>
                    <li><a href="#">Apple</a></li>
                    <li class="active">iPhone 6S Plus</li>
                </ul>
                <!-- END breadcrumb -->
                <!-- BEGIN product -->
                <div class="product">
                    <!-- BEGIN product-detail -->
                    <div class="product-detail">
                        <!-- BEGIN product-image -->
                        <div class="product-image">
                            <!-- BEGIN product-thumbnail -->
                            <div class="product-thumbnail">
                                <ul class="product-thumbnail-list">
                                    {% for image in Product_detail.images.all %}
                                    <li><a href="#" data-click="show-main-image" data-url="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="" /></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- END product-thumbnail -->
                            <!-- BEGIN product-main-image -->
                            <div class="product-main-image" data-id="main-image">
                                <img src="{{ Product_detail.image.url }}" alt="" />
                            </div>
                            <!-- END product-main-image -->
                        </div>
                        <!-- END product-image -->
                        <!-- BEGIN product-info -->
                        <div class="product-info">
                            <!-- BEGIN product-info-header -->

                            <div class="product-info-header">
                                <h1 class="product-title"><span class="label label-success">{{ Product_detail.discount|floatformat:0 }}% OFF</span> {{ Product_detail.name }} {% for field in specifics %}{{ field.value }} {% endfor %}
                                     - #89270182 </h1>
                                <ul class="product-category">
                                    <li><a href="#">iPhone</a></li>
                                    <li>/</li>
                                    <li><a href="#">mobile phone</a></li>
                                    <li>/</li>
                                    <li><a href="#">electronics</a></li>
                                    <li>/</li>
                                    <li><a href="#">lifestyle</a></li>
                                </ul>
                            </div>
                            <!-- END product-info-header -->
                            <!-- BEGIN product-warranty -->
                            <div class="product-warranty">
                                <div class="pull-right">Availability: {{ Product_detail.availability }}</div>
                                <div><b></b></div>
                            </div>
                            <!-- END product-warranty -->
                            <!-- BEGIN product-info-list -->
                            <ul class="product-info-list">
                                {% for specs in Product_detail.specifications.all %}
                                <li><i class="fa fa-circle"></i><b>{{ specs.key }}:</b> {{ specs.value }}</li>
                                {% endfor %}
                            </ul>
                            <!-- END product-info-list -->
                            <!-- BEGIN product-social -->
                            <div class="product-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://x.com/" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.google.com/" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://web.whatsapp.com/" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="https://www.tumblr.com/" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>
                            <!-- END product-social -->
                            <!-- BEGIN product-purchase-container -->
                            <div class="product-purchase-container">
                                <div class="product-discount">
                                    <span class="discount">${{ Product_detail.price }}</span>
                                </div>
                                <div class="product-price">
                                    <div class="price">${{ Product_detail.discounted_price }}</div>
                                </div>
                                <button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button>
                            </div>
                            <!-- END product-purchase-container -->
                        </div>
                        <!-- END product-info -->
                    </div>
                    <!-- END product-detail -->
                    <!-- BEGIN product-tab -->
                    <div class="product-tab">
                        <!-- BEGIN #product-tab -->
                        <ul id="product-tab" class="nav nav-tabs">
                            <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                            <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                            <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li>
                        </ul>
                        <!-- END #product-tab -->
                        <!-- BEGIN #product-tab-content -->
                        <div id="product-tab-content" class="tab-content">
                            <!-- BEGIN #product-desc -->
                            <div class="tab-pane fade active in" id="product-desc">
                                <!-- BEGIN product-desc -->
                                <div class="product-desc right">
                                    <div class="image">
                                        <img src="{{ Product_detail.image.url }}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{ Product_detail.name }}</h4>
                                        <p>
                                            {{ Product_detail.description }}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                {% for component in Product_detail.components.all %}
                                <!-- BEGIN product-desc -->
                                <div class="product-desc {% if forloop.counter|divisibleby:2 %}right{% endif %}">
                                    <div class="image">
                                        <img src="{{ component.image.url }}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{ component.name }}</h4>
                                        <p>
                                            {{ component.description }}
                                        </p>
                                    </div>
                                </div>
                                <!-- END product-desc -->
                                {% endfor %}
                            </div>
                            <!-- END #product-desc -->
                            <!-- BEGIN #product-info -->
                            <div class="tab-pane fade" id="product-info">
                                <!-- BEGIN table-responsive -->
                                <div class="table-responsive">
                                    <!-- BEGIN table-product -->
                                    <table class="table table-product table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>iPhone 6s</th>
                                                <th>iPhone 6s Plus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="field">Capacity</td>
                                                <td>
                                                    16GB<br />
                                                    64GB<br />
                                                    128GB
                                                </td>
                                                <td>
                                                    16GB<br />
                                                    64GB<br />
                                                    128GB
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Weight and Dimensions</td>
                                                <td>
                                                    5.44 inches (138.3 mm) x 2.64 inches (67.1 mm) x 0.28 inch (7.1 mm)<br />
                                                    Weight: 5.04 ounces (143 grams)
                                                </td>
                                                <td>
                                                    6.23 inches (158.2 mm) x 3.07 inches (77.9 mm) x 0.29 inch (7.3 mm)<br />
                                                    Weight: 6.77 ounces (192 grams)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Display</td>
                                                <td>
                                                    Retina HD display with 3D Touch<br />
                                                    4.7-inch (diagonal) LED-backlit widescreen<br />
                                                    1334-by-750-pixel resolution at 326 ppi<br />
                                                    1400:1 contrast ratio (typical)<br />
                                                    <br />
                                                    <b>Both models:</b><br />
                                                    500 cd/m2 max brightness (typical)<br />
                                                    Full sRGB standard<br />
                                                    Dual-domain pixels for wide viewing angles<br />
                                                    Fingerprint-resistant oleophobic coating on front<br />
                                                    Support for display of multiple languages and characters simultaneously<br />
                                                    Display Zoom<br />
                                                    Reachability
                                                </td>
                                                <td>
                                                    Retina HD display with 3D Touch<br />
                                                    5.5-inch (diagonal) LED-backlit widescreen<br />
                                                    1920-by-1080-pixel resolution at 401 ppi<br />
                                                    1300:1 contrast ratio (typical)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Chip</td>
                                                <td colspan="2">
                                                    A9 chip with 64-bit architecture Embedded M9 motion coprocessor
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">iSight Camera</td>
                                                <td colspan="2">
                                                    New 12-megapixel iSight camera with 1.22µ pixels<br />
                                                    Live Photos<br />
                                                    Autofocus with Focus Pixels<br />
                                                    Optical image stabilization (iPhone 6s Plus only)<br />
                                                    True Tone flash<br />
                                                    Panorama (up to 63 megapixels)<br />
                                                    Auto HDR for photos<br />
                                                    Exposure control<br />
                                                    Burst mode<br />
                                                    Timer mode<br />
                                                    ƒ/2.2 aperture<br />
                                                    Five-element lens<br />
                                                    Hybrid IR filter<br />
                                                    Backside illumination sensor<br />
                                                    Sapphire crystal lens cover<br />
                                                    Auto image stabilization<br />
                                                    Improved local tone mapping<br />
                                                    Improved noise reduction<br />
                                                    Face detection<br />
                                                    Photo geotagging
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="field">Video Recording</td>
                                                <td colspan="2">
                                                    4K video recording (3840 by 2160) at 30 fps<br />
                                                    1080p HD video recording at 30 fps or 60 fps<br />
                                                    720p HD video recording at 30 fps<br />
                                                    Optical image stabilization for video (iPhone 6s Plus only)<br />
                                                    True Tone flash<br />
                                                    Slo-mo video support for 1080p at 120 fps and 720p at 240 fps<br />
                                                    Time-lapse video with stabilization<br />
                                                    Cinematic video stabilization (1080p and 720p)<br />
                                                    Continuous autofocus video<br />
                                                    Improved noise reduction<br />
                                                    Take 8MP still photos while recording 4K video<br />
                                                    Playback zoom<br />
                                                    3x zoom<br />
                                                    Face detection<br />
                                                    Video geotagging
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END table-product -->
                                </div>
                                <!-- END table-responsive -->
                            </div>
                            <!-- END #product-info -->
                            <!-- BEGIN #product-reviews -->
                            <div class="tab-pane fade" id="product-reviews">
                                <!-- BEGIN row -->
                                <div class="row row-space-30">
                                    <!-- BEGIN col-7 -->
                                    <div class="col-md-7">
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static 'img/user-1.jpg' %}" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    (4/5)
                                                </div>
                                                <div class="review-name">Terry</div>
                                                <div class="review-date">24/05/2016 7:40am</div>
                                            </div>
                                            <div class="review-title">
                                                What does “SIM-free” mean?
                                            </div>                        
                                            <div class="review-message">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in imperdiet augue. Integer non aliquam eros. Cras vehicula nec sapien pretium sagittis. Pellentesque feugiat lectus non malesuada aliquam. Etiam id tortor pretium, dictum leo at, malesuada tortor.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static 'img/user-2.jpg' %}" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    (3/5)
                                                </div>
                                                <div class="review-name">George</div>
                                                <div class="review-date">24/05/2016 8:40am</div>
                                            </div>                     
                                            <div class="review-title">
                                                When I buy iPhone from apple.com, is it tied to a carrier or does it come “unlocked”?
                                            </div>                
                                            <div class="review-message">
                                                In mauris leo, maximus at pellentesque vel, pharetra vel risus. Aenean in semper velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi volutpat mattis neque, at molestie tellus ultricies quis. Ut lobortis odio nec nunc ullamcorper, vitae faucibus augue semper. Sed luctus lobortis nulla ac volutpat. Mauris blandit scelerisque sem.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static 'img/user-3.jpg' %}" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    (5/5)
                                                </div>
                                                <div class="review-name">Steve</div>
                                                <div class="review-date">23/05/2016 8:40am</div>
                                            </div>                     
                                            <div class="review-title">
                                                Where is the iPhone Upgrade Program available?
                                            </div>                
                                            <div class="review-message">
                                                Duis ut nunc sem. Integer efficitur, justo sit amet feugiat hendrerit, arcu nisl elementum dui, in ultricies erat quam at mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec ultrices tellus. Mauris elementum venenatis volutpat.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static 'img/user-4.jpg' %}" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    (2/5)
                                                </div>
                                                <div class="review-name">Alfred</div>
                                                <div class="review-date">23/05/2016 10.02am</div>
                                            </div>                     
                                            <div class="review-title">
                                                Can I keep my current service plan if I choose the iPhone Upgrade Program?
                                            </div>                
                                            <div class="review-message">
                                                Donec vel fermentum quam. Vivamus scelerisque enim eget tristique auctor. Vivamus tempus, turpis iaculis tempus egestas, leo augue hendrerit tellus, et efficitur neque massa at neque. Aenean efficitur eleifend orci at ornare.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-icon"><img src="{% static 'img/user-5.jpg' %}" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    (5/5)
                                                </div>
                                                <div class="review-name">Edward</div>
                                                <div class="review-date">22/05/2016 9.30pm</div>
                                            </div>                     
                                            <div class="review-title">
                                                I have an existing carrier contract or installment plan. Can I purchase with the iPhone Upgrade Program
                                            </div>                
                                            <div class="review-message">
                                                Aliquam consequat ut turpis non interdum. Integer blandit erat nec sapien sollicitudin, a fermentum dui venenatis. Nullam consequat at enim et aliquet. Cras mattis turpis quis eros volutpat tristique vel a ligula. Proin aliquet leo mi, et euismod metus placerat sit amet.
                                            </div>
                                        </div>
                                        <!-- END review -->
                                    </div>
                                    <!-- END col-7 -->
                                    <!-- BEGIN col-5 -->
                                    <div class="col-md-5">
                                        <!-- BEGIN review-form -->
                                        <div class="review-form">
                                            <form name="review_form" method="POST">
                                            <form action="" name="review_form" method="POST">
                                                {% csrf_token %}
                                                <h2>Write a review</h2>
                                                <div class="form-group">
                                                    <label for="id_name">Name <span class="text-danger">*</span></label>
                                                    {{ form.name }}
                                                    {{ form.name.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_title">Title <span class="text-danger">*</span></label>
                                                    {{ form.title }}
                                                    {{ form.title.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_review">Review <span class="text-danger">*</span></label>
                                                    {{ form.review }}
                                                    {{ form.review.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_rating">Rating  <span class="text-danger">*</span></label>
                                                    <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                        <i class="fa fa-star-o" data-value="2"></i>
                                                        <i class="fa fa-star-o" data-value="4"></i>
                                                        <i class="fa fa-star-o" data-value="6"></i>
                                                        <i class="fa fa-star-o" data-value="8"></i>
                                                        <i class="fa fa-star-o" data-value="10"></i>
                                                        <span class="rating-comment">
                                                            <span class="rating-comment-tooltip">Click to rate</span>
                                                        </span>
                                                    </div>
                                                    {{ form.rating }}       
                                                    {{ form.rating.errors }}
                                                <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                            </form>
                                        </div>
                                        <!-- END review-form --> 
                                    </div>
                                    <!-- END col-5 -->
                                </div>
                                <!-- END row -->
                            </div>
                            <!-- END #product-reviews -->
                        </div>
                        <!-- END #product-tab-content -->
                    </div>
                    <!-- END product-tab -->
                </div>
                <!-- END product -->
                <!-- BEGIN similar-product -->
                <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
                <div class="row row-space-10">
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            {% comment %} <a href="{% url 'product_detail' %}" class="item-image"> {% endcomment %}
                                <img src="{% static 'img/iphone.png' %}" alt="">
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    {% comment %} <a href="{% url 'product_detail' %}">iPhone 6s Plus<br>16GB</a> {% endcomment %}
                                </h4>
                                <p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
                                <div class="item-price">$649.00</div>
                                <div class="item-discount-price">$739.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            {% comment %} <a href="{% url 'product_detail' %}" class="item-image"> {% endcomment %}
                                <img src="{% static 'img/samsung-note5.png' %}" alt="">
                                <div class="discount">32% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product' %}">Samsung Galaxy Note 5<br>Black</a>
                                </h4>
                                <p class="item-desc">Super. Computer. Now in two sizes.</p>
                                <div class="item-price">$599.00</div>
                                <div class="item-discount-price">$799.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            {% comment %} <a href="{% url 'product_detail' %}" class="item-image"> {% endcomment %}
                                <img src="{% static 'img/iphone-se.png' %}" alt="">
                                <div class="discount">20% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product' %}">iPhone SE<br>32/64Gb</a>
                                </h4>
                                <p class="item-desc">A big step for small.</p>
                                <div class="item-price">$499.00</div>
                                <div class="item-discount-price">$599.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            {% comment %} <a href="{% url 'product_detail' %}" class="item-image"> {% endcomment %}
                                <img src="{% static 'img/zenfone2.png' %}" alt="">
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    {% comment %} <a href="{% url 'product_detail' %}">Assus ZenFone 2<br>‏(ZE550ML)</a> {% endcomment %}
                                </h4>
                                <p class="item-desc">See What Others Can’t See</p>
                                <div class="item-price">$399.00</div>
                                <div class="item-discount-price">$453.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            {% comment %} <a href="{% url 'product_detail' %}" class="item-image"> {% endcomment %}
                                <img src="{% static 'img/xperia-z.png' %}" alt="">
                                <div class="discount">32% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product' %}">Sony Xperia Z<br>Black Color</a>
                                </h4>
                                <p class="item-desc">For unexpectedly beautiful moments</p>
                                <div class="item-price">$599.00</div>
                                <div class="item-discount-price">$799.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            {% comment %} <a href="{% url 'product_detail' %}" class="item-image"> {% endcomment %}
                                <img src="{% static 'img/lumia-532.png' %}" alt="">
                                <div class="discount">20% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product' %}">Microsoft Lumia 531<br>Smartphone Orange</a>
                                </h4>
                                <p class="item-desc">1 Year Local Manufacturer Warranty</p>
                                <div class="item-price">$99.00</div>
                                <div class="item-discount-price">$199.00</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                </div>
                <!-- END similar-product -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #product -->
    {% endblock body %}